@model IEnumerable<SNB_SHOP_DB.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Baza produktów sklepu</h1>

<p>
    <a asp-action="Add">Dodaj nowy produkt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
@*                 @Html.DisplayNameFor(model => model.Product_Type1) *@
                    Kategoria
            </th>
            <th>
@*                 @Html.DisplayNameFor(model => model.Product_Type2) *@
                    Produkt
            </th>
            <th>
@*                 @Html.DisplayNameFor(model => model.Sex) *@
                    Płeć
            </th>
            <th>
@*                 @Html.DisplayNameFor(model => model.Brand) *@
                    Producent
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
@*                 @Html.DisplayNameFor(model => model.Size) *@
                   Rozmiar
            </th>
@*          <th>
                @Html.DisplayNameFor(model => model.Stock)
                Stan magazynowy
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
                Cena
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Type1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Type2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Szczegóły</a> |
                <a asp-action="Remove" asp-route-id="@item.ID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
